# Подключение к базе Postgres происходит так:

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@real_db:5432/${POSTGRES_DB}

# Переменные окружения (пользователь, пароль, название БД) для PostgreSQL,
# которые передаются в контейнер, называются так:

POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydb

